<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <title>
                    {% block title %}Welcome!{% endblock %}
                </title>
                <!-- Bootstrap CSS -->
                <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
                    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">
                        {% block stylesheets %}{% endblock %}
                    </head>
                    <body>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <a class="navbar-brand" href={{path('index')}}>Mon Blog</a>
                            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href={{path('index')}}>Accueil
                                            <span class="sr-only"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                            Mes actions
                                        </a>
                                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                            <a class="dropdown-item" href={{ path('fos_user_registration_register') }}>S'enregistrer</a>
                                            {# <div class="dropdown-divider"></div> #}
                                        </div>
                                    </li>
                                    {% if app.user %}
                                        <li class="nav-item ">
                                            <a class="nav-link" href={{ path('fos_user_security_logout') }}>Se Déconnecter</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href={{ path('fos_user_profile_show') }}>Mon Profile</a>
                                        </li>
                                        {% else %}
                                        <a class="nav-link" href={{ path('fos_user_security_login') }}>Se Connecter</a>
                                    {% endif %}
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </div>
                            </nav>
                            <div class="container mt-4">
                                {% block body %}{% endblock %}
                            </div>
                            <!-- Optional JavaScript -->
                            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                            <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                            <script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
                            <script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
                            {% block javascripts %}{% endblock %}
                        </body>
                    </html>
                